In [3]:
import pandas as pd

In [4]:
# the file path
file_path = r"C:\Users\hp2021\Desktop\BI\analysis\Dataset of Diabetes .csv"

# Read the CSV file
data = pd.read_csv(file_path)

In [28]:
data

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [29]:
# Show first rows of data (5 by default)
data.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [31]:
# Show ttl nbr of rows and columns of data 
data.shape

(1000, 14)

In [32]:
# shows the index of the datase
data.index

RangeIndex(start=0, stop=1000, step=1)

In [33]:
# Show names of columns
data.columns

Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [35]:
# Show columns of data and their type
data.dtypes

ID             int64
No_Pation      int64
Gender        object
AGE            int64
Urea         float64
Cr             int64
HbA1c        float64
Chol         float64
TG           float64
HDL          float64
LDL          float64
VLDL         float64
BMI          float64
CLASS         object
dtype: object

In [36]:
# Show unique values in a column of data 
data["AGE"].unique()

array([50, 26, 33, 45, 48, 43, 32, 31, 30, 49, 42, 39, 41, 44, 47, 36, 38,
       46, 35, 40, 59, 51, 57, 63, 25, 60, 77, 54, 34, 55, 28, 56, 52, 69,
       73, 61, 58, 53, 66, 68, 62, 64, 67, 70, 79, 76, 65, 75, 20, 71],
      dtype=int64)

In [41]:
# Show the total nbr of unique values in a column of data 
data.nunique()
# data["AGE"].nunique()

ID           800
No_Pation    961
Gender         3
AGE           50
Urea         110
Cr           113
HbA1c        111
Chol          77
TG            69
HDL           48
LDL           65
VLDL          60
BMI           64
CLASS          5
dtype: int64

In [47]:
# Show ttl nbr of non null values in each column of data 
#data["AGE"].count()
data.count()

ID           1000
No_Pation    1000
Gender       1000
AGE          1000
Urea         1000
Cr           1000
HbA1c        1000
Chol         1000
TG           1000
HDL          1000
LDL          1000
VLDL         1000
BMI          1000
CLASS        1000
dtype: int64

In [51]:
# Show ttl nbr of non null values in each column of data 
data.Gender.value_counts()
#data.count()

M    565
F    434
f      1
Name: Gender, dtype: int64

In [50]:
# provides basic info about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [57]:
# filtering 
data[data.Gender == 'M']

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
7,421,34227,M,48,4.7,47,4.0,2.9,0.8,0.9,1.6,0.4,24.0,N
8,670,34229,M,43,2.6,67,4.0,3.8,0.9,2.4,3.7,1.0,21.0,N
15,566,34236,M,50,5.5,74,5.0,3.6,1.1,1.0,2.1,0.5,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [60]:
#group by
data.groupby('Gender').get_group('M')

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
7,421,34227,M,48,4.7,47,4.0,2.9,0.8,0.9,1.6,0.4,24.0,N
8,670,34229,M,43,2.6,67,4.0,3.8,0.9,2.4,3.7,1.0,21.0,N
15,566,34236,M,50,5.5,74,5.0,3.6,1.1,1.0,2.1,0.5,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [61]:
#Chech if there s a null value
data.isnull()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [62]:
#Chech if there s a null value
data.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [63]:
# rename the column No_Pation to PatientNbr (only in thid command)
data.rename(columns = {'No_Pation' : 'PatientNbr'})

,ID,PatientNbr,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [66]:
# rename the column No_Pation to PatientNbr permanintly
data.rename(columns = {'No_Pation' : 'PatientNbr'}, inplace = True)

In [67]:
# what is the mean age 
data.AGE.mean()

53.528

In [68]:
# what is the standard deviation (quantifies how much individual data points in a dataset deviate from the mean (average) of the dataset) of age
data.Urea.std()

2.935165441524571

In [70]:
# what is the variance of BMI in this data 
data.BMI.var()

24.62529577537525

In [6]:
# all instances where age 30 was recorded
data.AGE.value_counts()

55    181
60     88
54     84
51     51
61     49
56     48
52     44
50     43
59     32
57     31
58     30
63     29
53     25
30     20
49     19
45     16
33     16
40     13
44     13
35     11
66     11
47     10
42     10
48     10
31      9
39      9
68      8
62      8
73      8
43      8
64      7
69      6
67      6
38      6
41      5
34      5
36      4
76      4
77      4
28      3
46      3
26      2
70      2
65      2
75      2
25      1
79      1
32      1
20      1
71      1
Name: AGE, dtype: int64

In [11]:
# all instances where age 30 was recorded (filtering)
data[data['AGE'] == 30]

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
12,82,46815,F,30,3.0,42,4.1,4.9,1.3,1.2,3.2,0.5,22.0,N
17,676,87654,F,30,3.0,42,4.1,4.9,1.3,1.2,3.2,0.5,22.0,N
25,470,46675,F,30,3.0,45,4.1,4.9,1.3,1.2,3.2,0.5,22.0,N
26,494,45566,M,30,4.8,80,5.5,5.5,1.8,1.2,3.5,0.8,19.0,N
78,134,45367,F,30,3.6,61,5.4,6.5,1.8,1.5,4.2,0.8,24.0,N
90,154,45369,M,30,5.5,79,5.6,3.9,1.6,0.9,3.3,0.8,24.5,N
129,466,26665,F,30,5.7,53,6.0,5.4,1.7,1.4,3.3,0.7,22.0,P
131,688,87660,F,30,5.7,53,6.0,5.4,1.7,1.4,3.3,0.7,22.0,P
151,133,45366,M,30,17.1,344,6.0,4.9,1.6,1.7,2.5,0.7,21.0,P
153,146,45368,M,30,6.0,97,5.8,4.2,1.7,1.2,2.2,0.8,19.0,P
157,18,23977,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
163,48,23987,M,30,5.0,80,6.9,4.5,1.8,1.2,2.6,12.7,34.6,Y
164,656,768585,M,30,5.0,80,6.9,4.5,1.8,1.2,2.6,12.7,34.6,Y
186,357,73566,M,30,4.8,80,5.5,5.5,1.8,1.2,3.5,0.8,25.0,Y
189,698,87665,M,30,4.8,80,5.5,5.5,1.8,1.2,3.5,0.8,25.0,Y
863,23,71255,F,30,3.1,54,7.3,5.9,1.8,1.6,3.5,0.8,21.0,Y
967,162,45370,M,30,4.6,106,8.1,6.8,3.2,0.7,3.6,1.3,23.0,Y
971,168,45371,M,30,5.0,53,7.7,5.5,2.1,1.0,3.6,0.9,24.0,Y
974,172,45372,M,30,13.2,185,8.1,5.0,1.1,1.8,4.1,1.0,21.0,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y

In [15]:
# all instances where Gender f or F was recorded (str.contains)
data[data['Gender'].str.lower().str.contains('f')]

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
5,634,34224,F,45,2.3,24,4.0,2.9,1.0,1.0,1.5,0.4,21.0,N
6,721,34225,F,50,2.0,50,4.0,3.6,1.3,0.9,2.1,0.6,24.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,184,454316,F,54,5.0,88,6.8,5.1,2.1,1.1,3.0,1.0,30.0,Y
984,187,454316,F,60,5.0,70,8.1,5.2,3.3,1.4,0.6,3.0,27.0,Y
985,188,454316,F,75,10.3,113,8.6,4.2,1.6,0.9,2.6,0.7,32.0,Y
990,194,454316,F,57,4.1,70,9.3,5.3,3.3,1.0,1.4,1.3,29.0,Y
991,195,4543,f,55,4.1,34,13.9,5.4,1.6,1.6,3.1,0.7,33.0,Y

In [17]:
# all instances where BMI is above 27 and age is 73 
data[(data['BMI'] > 27) & (data['AGE'] == 73)]

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
256,224,24046,M,73,4.3,79,6.9,5.3,1.4,1.50,3.2,0.6,28.0,Y
260,510,34290,M,73,4.3,79,6.9,5.3,1.4,1.50,3.2,0.6,28.0,Y
277,251,24055,M,73,4.3,67,10.3,4.2,1.9,1.95,9.9,0.7,34.0,Y
284,306,5474,M,73,4.3,67,10.3,4.2,1.9,1.95,9.9,0.7,34.0,Y
887,50,789451,M,73,6.1,83,12.0,5.0,3.3,1.30,2.4,1.5,33.0,Y

In [18]:
#what is the mean value of each column againt each age 
data.groupby('AGE').mean()

,ID,No_Pation,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
AGE,,,,,,,,,,,
20,177.000000,4.536400e+04,4.600000,70.000000,9.600000,4.100000,1.800000,1.000000,2.300000,0.800000,30.000000
25,147.000000,4.536500e+04,10.000000,35.000000,4.000000,4.300000,3.500000,0.800000,1.300000,0.800000,22.000000
26,432.000000,3.981850e+04,6.000000,70.500000,6.850000,3.600000,1.700000,1.550000,1.500000,0.550000,25.500000
28,135.000000,1.779837e+05,3.700000,65.000000,7.300000,5.133333,2.400000,0.933333,2.400000,0.700000,29.000000
30,320.700000,8.976535e+04,5.855000,88.800000,6.100000,5.095000,1.670000,1.260000,3.185000,2.700000,24.025000
31,415.555556,1.451818e+05,3.655556,51.666667,6.922222,4.522222,1.766667,1.022222,2.733333,5.488889,27.488889
32,759.000000,3.423000e+04,3.600000,28.000000,4.000000,3.800000,2.000000,2.400000,3.800000,1.000000,24.000000
33,475.062500,8.859644e+04,3.618750,53.500000,6.031250,4.243750,1.606250,1.150000,2.525000,2.293750,23.708750
34,425.600000,4.283360e+04,4.780000,76.800000,6.320000,5.360000,2.900000,0.940000,2.380000,1.520000,24.800000
35,143.636364,9.688700e+04,4.754545,59.363636,6.490909,4.800000,2.290909,1.354545,2.609091,2.127273,25.145455
36,242.750000,2.106850e+07,4.350000,65.250000,6.425000,5.050000,2.250000,1.100000,3.000000,1.925000,22.500000
38,445.000000,6.940233e+04,4.616667,59.166667,7.383333,4.750000,1.816667,1.150000,2.833333,9.550000,36.766667
39,481.888889,4.171789e+04,4.533333,58.222222,5.533333,4.955556,1.500000,1.255556,2.922222,0.666667,22.277778
40,225.692308,5.302930e+06,6.392308,79.000000,5.869231,4.653846,2.007692,1.061538,2.653846,4.215385,27.430769
41,312.200000,1.894620e+04,3.860000,59.200000,4.440000,3.700000,3.100000,1.100000,2.280000,1.200000,21.600000
42,272.000000,1.932268e+05,4.170000,62.200000,5.410000,5.330000,2.250000,1.340000,3.040000,1.100000,23.800000
43,341.375000,3.195388e+04,3.525000,53.000000,4.712500,4.812500,2.262500,1.337500,2.887500,1.187500,23.187500
44,345.615385,3.068692e+04,4.507692,57.923077,5.253846,5.815385,1.915385,1.353846,2.969231,0.830769,22.307692
45,306.062500,2.176177e+06,3.950000,59.000000,6.956250,4.412500,1.656250,1.062500,2.687500,4.556250,26.562500
46,493.000000,3.428900e+04,3.133333,53.333333,5.233333,5.400000,1.933333,1.266667,3.300000,0.900000,23.000000
47,398.600000,3.539950e+04,4.730000,63.500000,4.750000,5.050000,1.730000,1.000000,3.270000,1.210000,22.900000
48,345.200000,3.933620e+04,4.470000,53.200000,6.570000,4.200000,2.160000,1.470000,1.950000,0.850000,25.450000
49,532.210526,3.667179e+04,4.131579,59.210526,5.236842,4.473684,1.721053,1.192105,2.276316,0.857895,23.421053
50,375.023256,6.523993e+04,4.827907,67.255814,5.986047,4.462791,1.937209,1.216279,2.583721,0.783721,23.279070
51,326.627451,6.972178e+04,5.341176,59.039216,8.896078,4.629412,2.235294,1.196078,2.263725,1.141176,31.662157
52,445.590909,3.676582e+04,5.252273,71.159091,9.329545,4.934091,2.384091,1.404545,2.206818,1.154545,31.936364
53,372.960000,3.638460e+04,5.264000,76.960000,9.304000,5.876000,2.928000,1.332000,2.634000,1.444000,32.720000
54,327.309524,5.202581e+04,4.895238,65.523810,9.002381,4.827381,2.423810,1.235714,2.420238,1.200000,30.983333
55,337.160221,1.454815e+05,5.155486,65.928177,8.897569,4.889061,2.269116,1.159227,2.686133,3.715470,31.264807
56,302.270833,6.279677e+04,4.679167,69.604167,9.139583,5.079167,2.581250,1.389167,2.618750,1.114583,30.966667
57,368.516129,7.087884e+04,4.716129,84.774194,8.267742,4.793548,2.816129,1.241935,2.824194,1.154839,31.490323
58,301.166667,4.436057e+04,5.780000,107.166667,9.126667,4.823333,2.873333,1.216667,2.371667,1.093333,31.533333
59,342.093750,6.758428e+04,5.687500,61.125000,8.878125,4.887500,2.193750,1.260938,2.317188,1.050000,30.140625
60,354.659091,5.190074e+04,5.228409,69.795455,9.035227,4.722727,2.450000,1.095455,2.585795,1.057955,30.881818
61,339.714286,6.245518e+04,5.793878,73.428571,9.351020,5.124490,2.995918,1.180612,2.387755,1.387755,31.481633
62,254.375000,8.665038e+04,5.650000,66.750000,9.887500,4.125000,3.662500,0.862500,2.537500,0.937500,30.387500
63,325.724138,2.892021e+05,5.406897,68.965517,8.868966,5.317241,2.341379,1.210345,3.117241,0.944828,31.310345
64,124.285714,9.593743e+04,5.400000,71.428571,9.528571,5.500000,2.700000,0.928571,3.471429,1.228571,31.285714
65,169.500000,2.498835e+05,5.000000,97.000000,7.000000,3.850000,2.950000,1.050000,1.750000,1.350000,26.500000
66,298.363636,9.413018e+04,6.254545,71.454545,9.272727,4.909091,2.718182,1.018182,2.981818,3.927273,29.068182
67,336.833333,2.628017e+04,6.433333,71.333333,10.633333,4.216667,2.000000,0.966667,2.383333,0.900000,29.271667
68,315.875000,3.767650e+04,5.375000,61.875000,9.825000,5.375000,2.600000,1.350000,2.925000,1.162500,32.275000
69,232.333333,1.108725e+05,8.833333,134.000000,9.133333,5.600000,2.716667,1.316667,3.166667,1.200000,33.666667
70,98.500000,3.573650e+04,8.250000,45.500000,8.450000,6.650000,2.300000,1.100000,2.375000,0.700000,26.000000
71,200.000000,4.543170e+05,11.000000,97.000000,7.000000,7.500000,1.700000,1.200000,1.800000,0.600000,30.000000
73,206.750000,1.203546e+05,4.375000,72.875000,8.412500,4.750000,1.775000,1.550000,4.737500,0.800000,29.125000
75,178.500000,2.498840e+05,10.300000,113.000000,8.550000,4.350000,2.000000,1.000000,2.550000,0.900000,31.000000
76,191.250000,1.677650e+04,4.575000,51.250000,10.025000,4.450000,4.325000,0.850000,1.875000,1.925000,31.000000
77,269.750000,1.324522e+05,5.600000,102.500000,6.300000,2.575000,1.775000,0.900000,2.500000,0.700000,25.250000
79,171.000000,4.232900e+04,5.200000,54.000000,9.200000,6.400000,3.000000,1.100000,4.100000,1.300000,30.000000

In [23]:
# what is the min nd max value of each column againt age 
#data.groupby('AGE').min() 
data.groupby('AGE').max()

,ID,No_Pation,Gender,AGE,Urea,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
Cr,,,,,,,,,,,,,
6,72,86745,F,31,3.9,5.40,4.4,1.8,1.1,2.6,0.8,22.0,N
20,738,34370,F,56,2.0,11.70,5.5,5.3,0.9,2.0,1.2,33.0,Y
22,779,34505,F,56,2.8,14.60,5.8,2.0,1.8,1.8,1.5,33.0,Y
23,750,45646,F,61,2.2,9.96,6.6,4.2,1.2,4.1,1.7,29.0,Y
24,634,35645,F,55,2.3,6.70,4.8,1.0,1.9,2.6,1.1,27.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,50,34556,M,53,14.9,11.00,5.9,8.7,1.0,3.0,3.4,33.0,Y
344,133,45366,M,30,17.1,6.00,4.9,1.6,1.7,2.5,0.7,21.0,P
370,534,34305,M,57,4.6,6.80,6.1,6.0,2.5,3.5,1.1,37.0,Y
401,540,34455,F,61,24.0,7.00,4.3,2.9,0.4,2.7,1.3,36.6,Y
800,266,51623,M,60,20.8,9.10,6.6,2.9,1.2,4.3,1.3,35.0,Y